body
    background #000
    font-family tahoma, arial, verdana, sans-serif, 'Lucida Sans'
    font-size 14px
    color #fff

a
    color inherit
    text-decoration none

    &:hover
        text-decoration underline

centered()
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    margin auto

.player
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    overflow hidden
    user-select none
    background #000

.player-video
    width 100%
    height 100%

.player-info
    position absolute
    top 0
    right 0
    left 0
    height 40px
    padding 0 15px
    line-height 40px
    background rgba(0, 0, 0, .6)
    transition top .33s

    &__title
        display block
        ellipsis()

    &__author
        float right
        margin-left 20px
        max-width 200px
        ellipsis()
        font-size 0.85em
        color #ddd

        @media all and (max-width: 400px)
            display none

    .player_playing &
        top -50px


.player-loader
    centered()
    width 64px
    height 16px
    background-image url('//vk.com/images/upload_inv_mono.gif')
    background-size 64px 16px
    color #fff
    transition .33s

    @media all and (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)
        background-image url('//vk.com/images/upload_inv_mono_2x.gif')

    &.-hidden
        visibility hidden
        opacity 0
        transform scale(1.2)

.player-error
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    background rgba(0, 0, 0, .4)
    transition visibility .33s, opacity .33s

    &.-hidden
        visibility hidden
        opacity 0

    &__text
        centered()
        height 100px
        line-height 100px
        font-size 2em
        text-align center

.player-big-play-button
    centered()
    width 100px
    height 100px
    border-radius 4px
    background rgba(0, 0, 0, .4) url('../img/play_big.png') no-repeat center
    background-size 64px 64px
    cursor pointer

    @media all and (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)
        background-image url('../img/play_big@2x.png')
