.icon-controls
    display inline-block
    vertical-align middle
    background-image url('../img/controls-sprite.png')
    background-repeat no-repeat

    @media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)
        background-image url('../img/controls-sprite@2x.png')
        background-size 26px 204px

.icon-controls-vk
    background-position -2px -2px
    width 22px
    height 12px

.icon-controls-maximize
    background-position -2px -18px
    width 16px
    height 16px

.icon-controls-minimize
    background-position -2px -38px
    width 16px
    height 16px

.icon-controls-volume-high
    background-position -2px -58px
    width 16px
    height 16px

.icon-controls-volume-low
    background-position -2px -78px
    width 16px
    height 16px

.icon-controls-volume-mid
    background-position -2px -98px
    width 16px
    height 16px

.icon-controls-volume-none
    background-position -2px -118px
    width 16px
    height 16px

.icon-controls-volume
    background-position -2px -138px
    width 16px
    height 16px

.icon-controls-pause
    background-position -2px -158px
    width 20px
    height 20px

.icon-controls-play
    background-position -2px -182px
    width 20px
    height 20px

